*.aux
*.log
*.pdf
*.gz
*.bak
.idea
*.pt
*.txt
**/__pycache__
data/labels/val
data/labels/json/
data/labels/bdd100k_labels_images_train/
data/labels/bdd100k_labels_images_val/
data/labels/first_two/
weights
**.shapes
choice/**.jpg
data/images/**.jpg
data/samples/**.jpg
output/**.jpg
test_batch0.jpg
train_batch0.jpg
data/**/*.zip
