*.aux
*.log
*.pdf
*.gz
*.bak
.idea
**/__pycache__
data/images
data/labels/train
data/labels/val
data/labels/json/
data/labels/bdd100k_labels_images_train/
data/labels/bdd100k_labels_images_val/
data/labels/first_two/
