*.aux
*.log
*.pdf
*.gz
*.bak
.idea
*.pt
*.txt
**/__pycache__
**.jpg
data/labels/val
data/labels/json/
data/labels/bdd100k_labels_images_train/
data/labels/bdd100k_labels_images_val/
data/labels/first_two/
weights
**.shapes
data/**/*.zip
